header
  h1.logo Robert Yo
  
  nav
    ul
      li: a(href="portfolio.html") Portfolio
      li: a(href="sobre.html") Sobre
      li: a(href="loja.html") Loja
      li: a(href="cursos.html") Cursos
      li: a(href="contato.html") Contato
